.github/
.playwright-mcp/
.vscode/
.VSCodeCounter/
.vs/
.git/
node_modules/
eslint.config.cjs
.gitignore
.npmignore
.DS_Store
/doc/
/utils/
*.ts
!*.d.ts
tsconfig.json
package-lock.json

/src/
/dist/test/
/scripts/